.container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.grid {
  display: grid;
}

@media (min-width: 560px) {
  .container {
    flex-direction: row;
    gap: 2rem;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-top: 0.5rem;
  }
}
